/* CSS styles for the events-page */


.email-header {
  color: rgb(119, 88, 8);
  font-weight: bold;
}

.info-header {
  color: rgb(119, 88, 8);
}

#events-input {
  height: 100px;
  width: 100%;
  margin-top:10px;
}

#events-form {
  text-align: center;
  font-family: "Helvetica";
  margin-top: 20px;
}

.events-div {
  border: thin solid black;
  border-radius: 0;
  margin-top: 30px;
  font-family: "Helvetica";
  background-color:white;
}

/* Add a bottom border to the events header. */
.events-header {
  border-bottom: thin solid black;
  padding: 5px;
  background-color:goldenrod;
}

/* Give the events body a margin so the text
   isn't too close to the border. */
.events-body {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.events-entity {
  padding: 5px;
  border-bottom: thin solid black;
  background-color:lightskyblue;
}

/* Use this to hide certain elements like forms if the
   user is not logged in or viewing their own page. */
.hidden {
  display: none;
}